@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/libs")
</head>
<body>
    <script src="~/Scripts/LocationModel.js"></script>
    <script src="~/Scripts/Controller.js"></script>
    <script src="~/Scripts/View.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAncLbEmMj9HHh2LCJXUFcYJ4F1BRENp4g&callback=initMap">
    </script>
    <div id="map"></div>
    <div id="locationCard" class="card container" style="display: none">
        <div class="row cardRow">
            <label class="col-xs-4" for="locationName">Name</label>
            <input class="col-xs-6" id="locationName" type="text" />
        </div>
        <div class="row cardRow">
            <label class="col-xs-4" for="locationTag">Tag Name</label>
            <input class="col-xs-6" id="locationTag" type="text" />
        </div>
        <div class="row">
            <button class="col-xs-3 savebtn">Save</button>
        </div>
    </div>
</body>
</html>
