@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/libs")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <script src="~/Scripts/LocationModel.js"></script>
    <script src="~/Scripts/ColumnModel.js"></script>
    <script src="~/Scripts/Controller.js"></script>
    <script src="~/Scripts/ViewModel.js"></script>
    <script src="~/Scripts/View.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAncLbEmMj9HHh2LCJXUFcYJ4F1BRENp4g&callback=initMap">
    </script>
    <div class="wrapper">
        <div id="map"></div>
        <div id="overlay"></div>
    </div>
    <div id="locationCard" data-bind="with: selectedLocation" class="card container" style="display: none">
        <div class="row cardRow">
            <label class="col-xs-4" for="locationName">Name</label>
            <input data-bind="value: $data.LocationName" class="col-xs-4" id="locationName" type="text" />
            <div class="col-xs-2"></div>
            <i id="cancelbtn" class="col-xs-1 material-icons">cancel</i>
        </div>
        <div class="row cardRow">
            <label class="col-xs-4" for="locationTag">Database Name</label>
            <input data-bind="value:$data.Database" class="col-xs-4" id="database" type="text" />
        </div>
        <div class="row cardRow">
            <label class="col-xs-4" for="locationTag">Table Name</label>
            <input data-bind="value:$data.Table, event:{change: $root.getSchema}" class="col-xs-4" id="table" type="text" />
        </div>
        <!--ko if: $root.tableColumns().length > 0-->
        <div class="row">
            <label class="col-xs-4" for="columns">Column Name</label>
            <select class="col-xs-6" id="columns" data-bind="options: $root.tableColumns, optionsText: 'Name', value: $root.selectedValue, optionsCaption: 'Select Column...'"></select>
        </div>
        <div class="row cardRow">
            <label class="col-xs-4" for="locationTag">Column Value</label>
            <input data-bind="value:$data.ColumnValue" class="col-xs-4" id="value" type="text" />
        </div>
        <!--/ko-->
        <div class="row">
            <button id="savebtn" class="col-xs-3 savebtn">Save</button>
            <!--ko if: $root.newLocation() == false-->
            <div class="col-xs-6"></div>
            <button id="deletebtn" class="col-xs-3 deletebtn">Delete</button>
            <!--/ko-->
        </div>
    </div>
    <div id="deleteDialog" class="card container deleteDialog" style="display: none">
        <div class="row cardRow">
            <span class="col-xs-12">Are you sure you want to delete this Location?</span>
        </div>
        <div class="row cardRow">
            <button id="deleteLocation" class="col-xs-3 savebtn">Yes</button>
            <div class="col-xs-6"></div>
            <button id="closeDelete" class="col-xs-3 deletebtn">No</button>
        </div>
    </div>
</body>
</html>
