@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/View.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAncLbEmMj9HHh2LCJXUFcYJ4F1BRENp4g&callback=initMap">
    </script>
    <div id="map"></div>
    <div id="locationCard" class="card container" style="display: none">
        <div>
            <label class="col-xs-1" for="locationName">Name</label>
            <input class="col-xs-4 col-xs-push-1" id="locationName" type="text" />
        </div>
        <div>
            <button class="col-xs-2">Save</button>
        </div>
    </div>
</body>
</html>
